<!-- templates/equipamentos/equipamento_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Equipamentos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Lista de Equipamentos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome do Usuário</th>
                    <th>Equipamento</th>
                    <th>Modelo</th>
                    <th>Patrimônio</th>
                </tr>
            </thead>
            <tbody>
                {% for equipamento in equipamentos %}
                    <tr>
                        <td>{{ equipamento.nome_usuario }}</td>
                        <td>{{ equipamento.equipamento }}</td>
                        <td>{{ equipamento.modelo }}</td>
                        <td>{{ equipamento.patrimonio }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'equipamento_create' %}" class="btn btn-primary">Adicionar Novo Equipamento</a>
    </div>
</body>
</html>
